<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/students/{id}(id=${student.getId()})}" th:object="${student}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>
    <label for="gpa">GPA:</label>
    <input type="text" th:field="*{gpa}" id="gpa"/>
    <div style="color:red" th:if="${#fields.hasErrors('gpa')}" th:errors="*{gpa}">GPA error</div>
    <br>
    <input type="submit" value="Update"/>
</form>

</body>
</html>